/* Fonts */

@font-face {
  font-family:'BlissPro-Light';
  src:url('../fonts/BlissPro-Light.eot?') format('eot'), 
      url('../fonts/BlissPro-Light.otf') format('opentype'),
      url('../fonts/BlissPro-Light.woff') format('woff');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family:'BlissPro-Medium';
  src:url('../fonts/BlissPro-Medium.eot?') format('eot'), 
      url('../fonts/BlissPro-Medium.otf') format('opentype'),
      url('../fonts/BlissPro-Medium.woff') format('woff');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family:'BlissPro-Bold';
  src:url('../fonts/BlissPro-Bold.eot?') format('eot'), 
      url('../fonts/BlissPro-Bold.otf') format('opentype'),
      url('../fonts/BlissPro-Bold.woff') format('woff');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family:'BlissPro-Italic';
  src:url('../fonts/BlissPro-Italic.eot?') format('eot'), 
      url('../fonts/BlissPro-Italic.otf') format('opentype'),
      url('../fonts/BlissPro-Italic.woff') format('woff');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family:'BlissPro-LightItalic';
  src:url('../fonts/BlissPro-LightItalic.eot?') format('eot'), 
      url('../fonts/BlissPro-LightItalic.otf') format('opentype'),
      url('../fonts/BlissPro-LightItalic.woff') format('woff');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family:'PFDinTextCondPro-Bold';
  src:url('../fonts/PFDinTextCondPro-Bold.eot?') format('eot'), 
      url('../fonts/PFDinTextCondPro-Bold.woff') format('woff');
  font-style:normal;
  font-weight:normal;
}
